$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Raleway';

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

img {
  max-width: 100%;
}

.main-header{
  height: 134px;
  background-color: lightblue;
  color: #FFFFFF;

  .add-image{
    display: inline;
    padding: 10px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10%;
    background-color: #333333;
    font-size: 20px;
    width: 130px;
    text-align: center;
  }
}

h1 {
  text-align: center;
}
